.navigation{
    padding: 5px;
    border-bottom: 1px solid rgb(209, 201, 201);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.presentation-formation{
    margin-top: 5px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 221, 230);
    box-shadow: 2px 4px 8px grey;
}
.bloc-nav{
    display: flex;
    gap: 30px;
}
span{
    color: orangered;
}
.dev{
    color: blue;
}
input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
}
.search-button{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    font-size: 16px;
}
.suggestion{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.cours{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}
footer{
    margin-top: 10px;
    background-color: rgb(213, 221, 230);
    display: flex;
    flex-direction: column;
}
.footer-ontop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
}
.plateforme{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.plat{
    color: blue;
}
.confidentialités{
    gap: 10px;
    display: flex;
    margin-top: 10px;
}